<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body bgcolor="zinc">
    <div class="container">
        <h2 style="color: white; font-size:25px">Log In to Account</h2>
        <form action="/logincheck" method="post">
           
            <input type="email" name="email" placeholder="Email" class="uname">
            <input type="password" name="psw" placeholder="Password" class="uname">
          
            <input type="submit" value="Login" class="btn" style="background-color: yellow;">
        </form>
    </div>
</body>
</html>